$accent: #14a0c7;
$buttonColor: #699900;
$gradient: #2b5ade;
$Background: (
  card: #21232e,
  page: #ffffff
);
$mainTextColor: #2c2f3c;
$cardTextColor: #c0c3ce;
$cardHeaderColor: #ffffff;
$text: "Hind", sans-serif;
$textHeader: "Source Sans Pro", sans-serif;
$headerImage: url(../img/m-h-day.jpg);
