$accent: #ff4e33;
$buttonColor: #e3ac00;
$gradient: #912b53;
$Background: (
  card: #3b3f50,
  page: #21232e
);
$mainTextColor: #ffffff;
$cardTextColor: #c0c3ce;
$cardHeaderColor: #ffffff;
$text: "Fresca", sans-serif;
$textHeader: "Source Sans Pro", sans-serif;
$headerImage: url(../img/m-h-night.jpg);
